<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:teufels="http://typo3.org/ns/TEUFELS/TeufelsVh/ViewHelpers">

    <f:layout name="Default" />

    This Template is responsible for creating a table of domain objects.

    If you modify this template, do not forget to change the overwrite settings
    in /Configuration/ExtensionBuilder/settings.yaml:
    Resources:
    Private:
    Templates:
    List.html: keep

    Otherwise your changes will be overwritten the next time you save the extension in the extension builder

    <f:section name="main">

        <f:if condition="{aSettings.oHiveCptCntCards.main.layout} != 'card-columns'">
            <f:then>
                <v:variable.set name="nocardcolumns" value="TURE"/>
            </f:then>
            <f:else>
                <v:variable.set name="fluidimage" value="img-fluid"/>
            </f:else>
        </f:if>

        <div class="{aSettings.oHiveCptCntCards.main.layout}">

            <div class="{f:if(then: 'row', else: '', condition: nocardcolumns)}">

                <f:for each="{oCards}" as="card" iteration="iCard" key="index">

                    <f:switch expression="{card.cardwidth}">
                        <f:case value="1"><v:variable.set name="cardwidth" value="w-100"/></f:case>
                        <f:case value="2"><v:variable.set name="cardwidth" value="w-75"/></f:case>
                        <f:case value="3"><v:variable.set name="cardwidth" value="w-50"/></f:case>
                        <f:case value="4"><v:variable.set name="cardwidth" value="w-25"/></f:case>
                        <f:defaultCase><v:variable.set name="cardwidth" value="{aSettings.oHiveCptCntCards.main.width}"/></f:defaultCase>
                    </f:switch>

                    <f:if condition="{nocardcolumns}">
                        <f:switch expression="{card.cardsizesm}">
                            <f:case value="1"><v:variable.set name="cardsizesm" value="col-sm-3"/></f:case>
                            <f:case value="2"><v:variable.set name="cardsizesm" value="col-sm-4"/></f:case>
                            <f:case value="3"><v:variable.set name="cardsizesm" value="col-sm-6"/></f:case>
                            <f:case value="4"><v:variable.set name="cardsizesm" value="col-sm-12"/></f:case>
                            <f:defaultCase><v:variable.set name="cardsizesm" value="{aSettings.oHiveCptCntCards.main.size.sm}"/></f:defaultCase>
                        </f:switch>

                        <f:switch expression="{card.cardsizemd}">
                            <f:case value="1"><v:variable.set name="cardsizemd" value="col-md-3"/></f:case>
                            <f:case value="2"><v:variable.set name="cardsizemd" value="col-md-4"/></f:case>
                            <f:case value="3"><v:variable.set name="cardsizemd" value="col-md-6"/></f:case>
                            <f:case value="4"><v:variable.set name="cardsizemd" value="col-md-12"/></f:case>
                            <f:defaultCase><v:variable.set name="cardsizemd" value="{aSettings.oHiveCptCntCards.main.size.md}"/></f:defaultCase>
                        </f:switch>

                        <f:switch expression="{card.cardsizelg}">
                            <f:case value="1"><v:variable.set name="cardsizelg" value="col-lg-3"/></f:case>
                            <f:case value="2"><v:variable.set name="cardsizelg" value="col-lg-4"/></f:case>
                            <f:case value="3"><v:variable.set name="cardsizelg" value="col-lg-6"/></f:case>
                            <f:case value="4"><v:variable.set name="cardsizelg" value="col-lg-12"/></f:case>
                            <f:defaultCase><v:variable.set name="cardsizelg" value="{aSettings.oHiveCptCntCards.main.size.lg}"/></f:defaultCase>
                        </f:switch>

                        <f:switch expression="{card.cardsizexl}">
                            <f:case value="1"><v:variable.set name="cardsizexl" value="col-xl-1"/></f:case>
                            <f:case value="2"><v:variable.set name="cardsizexl" value="col-xl-2"/></f:case>
                            <f:case value="3"><v:variable.set name="cardsizexl" value="col-xl-3"/></f:case>
                            <f:case value="4"><v:variable.set name="cardsizexl" value="col-xl-4"/></f:case>
                            <f:case value="5"><v:variable.set name="cardsizexl" value="col-xl-6"/></f:case>
                            <f:case value="6"><v:variable.set name="cardsizexl" value="col-xl-12"/></f:case>
                            <f:defaultCase><v:variable.set name="cardsizexl" value="{aSettings.oHiveCptCntCards.main.size.xl}"/></f:defaultCase>
                        </f:switch>
                    </f:if>

                    <f:switch expression="{card.textalignment}">
                        <f:case value="1"><v:variable.set name="textalignment" value=""/></f:case>
                        <f:case value="2"><v:variable.set name="textalignment" value="text-center"/></f:case>
                        <f:case value="3"><v:variable.set name="textalignment" value="text-right"/></f:case>
                        <f:defaultCase><v:variable.set name="textalignment" value="{aSettings.oHiveCptCntCards.main.alignment}"/></f:defaultCase>
                    </f:switch>

                    <f:switch expression="{card.imageposition}">
                        <f:case value="1"><v:variable.set name="imageposition" value="0"/></f:case>
                        <f:case value="2"><v:variable.set name="imageposition" value="1"/></f:case>
                        <f:defaultCase><v:variable.set name="imageposition" value="{aSettings.oHiveCptCntCards.main.imageposition}"/></f:defaultCase>
                    </f:switch>

                    <f:switch expression="{card.backgroundcolor}">
                        <f:case value="1"><v:variable.set name="backgroundcolor" value="card-primary"/></f:case>
                        <f:case value="2"><v:variable.set name="backgroundcolor" value="card-secondary"/></f:case>
                        <f:case value="3"><v:variable.set name="backgroundcolor" value="card-tertiary"/></f:case>
                        <f:case value="4"><v:variable.set name="backgroundcolor" value="card-success"/></f:case>
                        <f:case value="5"><v:variable.set name="backgroundcolor" value="card-info"/></f:case>
                        <f:case value="6"><v:variable.set name="backgroundcolor" value="card-warning"/></f:case>
                        <f:case value="7"><v:variable.set name="backgroundcolor" value="card-danger"/></f:case>
                        <f:defaultCase><v:variable.set name="backgroundcolor" value="{aSettings.oHiveCptCntCards.main.color.background}"/></f:defaultCase>
                    </f:switch>

                    <f:switch expression="{card.bordercolor}">
                        <f:case value="1"><v:variable.set name="bordercolor" value="card-outline-primary"/></f:case>
                        <f:case value="2"><v:variable.set name="bordercolor" value="card-outline-secondary"/></f:case>
                        <f:case value="3"><v:variable.set name="bordercolor" value="card-outline-tertiary"/></f:case>
                        <f:case value="4"><v:variable.set name="bordercolor" value="card-outline-success"/></f:case>
                        <f:case value="5"><v:variable.set name="bordercolor" value="card-outline-info"/></f:case>
                        <f:case value="6"><v:variable.set name="bordercolor" value="card-outline-warning"/></f:case>
                        <f:case value="7"><v:variable.set name="bordercolor" value="card-outline-danger"/></f:case>
                        <f:defaultCase><v:variable.set name="bordercolor" value="{aSettings.oHiveCptCntCards.main.color.border}"/></f:defaultCase>
                    </f:switch>

                    <f:if condition="{card.enableimageoverlay} == TURE || {aSettings.oHiveCptCntCards.main.imageoverlay} == '1'">
                        <f:then>
                            <v:variable.set name="cardstyle" value="card-img-overlay"/>
                        </f:then>
                        <f:else>
                            <v:variable.set name="cardstyle" value="card-block"/>
                        </f:else>
                    </f:if>

                    <f:if condition="{card.enablecardinverse} == TURE || {aSettings.oHiveCptCntCards.main.cardinverse} == '1'">
                        <f:then>
                            <v:variable.set name="cardinverse" value="card-inverse"/>
                        </f:then>
                    </f:if>

                    <f:if condition="{nocardcolumns} && {aSettings.oHiveCptCntCards.main.sameheight} == TRUE">
                        <f:then>
                            <v:variable.set name="sameheight" value="card__wrap"/>
                        </f:then>
                    </f:if>




                    <div class="{sameheight} {cardsizesm} {cardsizemd} {cardsizelg} {cardsizexl}">

                        <div class="card card__{index} {f:if(then: 'card__first', else: '', condition: iCard.isFirst)} {f:if(then: 'card__last', else: '', condition: iCard.isLast)} {cardwidth} {cardinverse} {backgroundcolor} {bordercolor} {textalignment}">

                            <f:if condition="{card.headertext}">
                                <div class="card-header">{card.headertext}</div>
                            </f:if>

                            <f:if condition="{imageposition}==0">

                                <f:if condition="{card.image}">

                                    <f:for each="{card.image}" as="oImage">

                                        <f:render section="image" arguments="{image: image, imagepos: 'card-img-top', fluidimage: fluidimage}" />

                                    </f:for>
                                </f:if>
                            </f:if>


                            <div class="{cardstyle}">
                                <f:if condition="{card.title}">
                                    <h4 class="card-title">{card.title}</h4>
                                </f:if>
                                <f:if condition="{card.title}">
                                    <h5 class="card-subtitle">{card.subtitle}</h5>
                                </f:if>
                                <f:if condition="{card.text}">
                                    <p class="card-text">{card.text}</p>
                                </f:if>

                                <f:if condition="{card.btn}">
                                    <f:for each="{card.btn}" as="oButton" iteration="i">
                                        <f:render section="button" arguments="{oButton: oButton, iteration: iteration}" />
                                    </f:for>
                                </f:if>
                            </div>

                            <f:if condition="{imageposition}==1">
                                <f:if condition="{card.image}">

                                    <f:for each="{card.image}" as="oImage">

                                        <f:render section="image" arguments="{image: image, imagepos: 'card-img-bottom', fluidimage: fluidimage}" />

                                    </f:for>
                                </f:if>
                            </f:if>

                            <f:if condition="{card.footertext}">
                                <div class="card-footer">{card.footertext}</div>
                            </f:if>

                        </div>
                    </div>
                </f:for>
            </div>
        </div>
    </f:section>


    <f:section name="button">
        <f:link.typolink parameter="{oButton.link}"
                         class="btn {oButton.classColor} {oButton.classSize} {oButton.classAdditional} {f:if(then: 'btn-block', else: '', condition: oButton.justify)}"
                         additionalAttributes="{alt: '{oButton.alternative}', title: '{oButton.title}'}">
            <f:if condition="{oButton.classGlyphicon} != ''">
                <span class="glyphicon glyphicon-{oButton.classGlyphicon}" aria-hidden="true"></span>
            </f:if>
            {oButton.value}
        </f:link.typolink>
    </f:section>


    <f:section name="image">
        <f:comment><!--TODO: focuhila - maybe remove img-fluid--></f:comment>
        <f:debug>{oImage}</f:debug>
        <f:comment>
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
             data-echo="fileadmin/{image.falImage.originalResource.identifier}"
             width=""
             height=""
             alt="{image.falImage.alternative}"
             title="{image.falImage.title}}"
             class="{imagepos} img-fluid {fluidimage} b-lazy opacity_0"
             id=""
        />
        </f:comment>
    </f:section>


</div>